@model CommanLayer.Models.EmployeeModel

@{
    ViewData["Title"] = "GetAllEmployeesbyId";
}

<h3>Employee @TempData["EmpName"].ToString() Details</h3>
      @* @TempData["EmpName"].ToString()*@

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profile_Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profile_Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
     @*   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTrash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTrash)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
@*<h3>ViewData is=  @ViewData["Var1"] </h3>
<h3>TempData is= @TempData["Var2"]</h3>*@
<div>
    @Html.ActionLink("Edit", "UpdateEmployee", new {  Id = Model.EmpId }) |
    @Html.ActionLink("Delete", "Delete", new { Id=Model.EmpId  })
    <a asp-action="LoginEmployee">Back to List</a>
</div>
